/* line 1, ../sass/module/_navbar.scss */
.nav {
  float: right !important;
}

/* line 1, ../sass/module/_about.scss */
.container {
  padding: 50px 0px;
}

/* line 1, ../sass/module/_footer.scss */
.footer {
  background-color: #111535;
  padding: 10px 0px 0px 0px;
  color: white;
}
